
.page {
    width: 210mm;
    height: 290mm;
    padding: 15mm;
    box-sizing: border-box;
    overflow: hidden;
}

#cv-preview {
    display: block;
}

.page:not(:last-child) {
    page-break-after: always;
}

.page:last-child {
    page-break-after: auto !important;
}

.page-number {
    display: none !important;
}
